.table-admin {
    tbody {
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    .products-actions {
        vertical-align: middle;

        .btn {
            width: 24px;
            padding: 0;
            text-align: center;
        }
    }

    .product-description {
        .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical;
        }
    }

    .product-image {
         img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 50%;
         }
    }
}